page-empataste {h2  {
    box-shadow: 0px 1px 0px 0px rgb(255, 255, 255) inset;
    background: rgb(255, 255, 255) linear-gradient(to bottom, rgb(255, 255, 255) 5%, rgb(246, 246, 246) 100%) repeat scroll 0% 0%;
    border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block;
    cursor: pointer;
    color: rgb(102, 102, 102);
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 20px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
}
 input[type=submit] {
    box-shadow: 0px 1px 3px 0px rgb(145, 184, 179) inset;
    background: rgb(0, 0, 0) linear-gradient(to bottom, rgb(0, 0, 0) 5%, rgb(108, 124, 124) 100%) repeat scroll 0% 0%;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgb(43, 102, 94);
}.Empato{background-color:#ff0202 }

}
